<div class="align-middle">
  <h1> Tasks: </h1>
  <div *ngIf="currentIndex >= 0 && userAndTask[currentIndex] &&  userAndTask[currentIndex] .tasks && userAndTask[currentIndex].tasks.length > 0">
    <mat-list class="border" *ngFor="let element of userAndTask[currentIndex].tasks; let i = index">
      <div class="container">
        <div class="row align-middle">
          <div class="col-10 row">
            <div class="container row">
              <div class="col-2 align-middle"> 
                <button mat-flat-button [color]="element.state == 'TO-DO' ? 'accent' : 'primary'">{{element.state}} </button>
              </div>
              <div class="col-10 align-middle">
                <mat-list-item mat-button color="primary"> {{element.description}} </mat-list-item>
              </div>
            </div>
          </div>
          <div class="col-1">
            <button (click)="updateTask(i)"
            ><mat-icon>update</mat-icon></button> 
          </div>
          <div class=" col-1">
              <button (click)="deleteTask(i)">
                <mat-icon>delete_outline</mat-icon>
              </button>
          </div>
        </div>
      </div>
    </mat-list>
  </div>
  <button *ngIf="currentIndex >= 0" type="button" mat-raised-button color="warn" (click)="addTask()" class="col-12">Add Task</button>
</div>

